body{
    background-color: #514140;
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

td{
    margin: 0px;
    padding: 0px;
}

.gameTab{
    width: 450px;
    display: inline-table;
}

#researchBar{
    height: 30px;
    width: 400px;
    background-color: #4D9360;
    margin-bottom: 20px;
}

#researchProgress{
    height: 30px;
    width: 5%;
    background-color: #2CD760;
}

#researchLabel{
    font-size: larger;
    width: 400px;
    text-align: center;
    padding-top: 3px;
}

#activeCount{
    margin-bottom: 5px;
}

#runeGrid{
    width: 400px;
    border: 2px black solid;
}

.runeTile{
    color: white;
    background-color: #5C555C;
    width: 70px;
    height: 70px;   
    margin: 5px;
}

.runeTile.active{
    background-color: #526878;
}

.runeTile.hidden{
    background-color: #514140;
    color: #514140;
    border: #514140;
}

.smallNumber{
    font-size: smaller;
    position: absolute;
}

.runeSymbol{
    font-size: x-large;
}


#runeName{
    font-size: x-large;
}

.largeText{
    font-size: x-large;
}

.timeClock{
    border-right: 1px black solid;
    width: 30px;
    text-align: center;
}

.timeLabel{
    border-right: 1px black solid;
    color: cadetblue;
    width: 30px;
    text-align: center;
}